<div class="row bump">
   <div class="small-12 large-6 columns">
      <div class="row">
         <div class="profile-card">
           <div class="small-12 large-4 columns">
                 <img src="<%= @user.profile_photo %>" alt="profile image">
           </div>
            <div class="small-12 large-8 columns">
               <h4><%= @user.first_name.titleize + " " +
                @user.last_name[0].upcase %></h4>
               <p><i class="fi-comment"></i><span><%= @user.reviews.size.to_s +
                 " Reviews" %></span></p>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="small-9 columns">
  <div class="row">
    <% @user.reviews.each do |review| %>
      <div class="row" id="<%= review.id %>">
        <div class="small-3 columns" align="center">
          <div class="user-image">
            <img src="<%= review.yelper.image_url %>" alt="profile image">
          </div>
          <%= review.user.last_name %>
        </div>
        <div class="small-9 columns">
          <p><%= review.rating %></p>
          <p><%= review.body %></p>
          <% if current_user %>
             <% if review.user == current_user || current_user.admin? %>
               <%= button_to "Edit Review",
               yelper_review_path(yelper_id: review.yelper.id, id: review.id),
               method: :get,
               class: "button" %>
              <% end %>
          <% end %>
          <div class = "votes">
            <a href="#" data-review-id="<%= review.id %>" data-yelper-id= "<%= review.yelper.id %>" id="up-vote"><i class="fi-arrow-up"></i>
            <span class="upvote-count"> <%= review.upvotes.count %> </span></a>
            <a href="#" data-review-id="<%= review.id %>" data-yelper-id="<%= review.yelper.id %>" id="down-vote"><i class="fi-arrow-down"></i>
            <span class="downvote-count"> <%= review.downvotes.count %> </span></a>
          </div>
        </div>
      </div>
    <% end %>
 </div>
</div>
