<% content_for :title, "User Profile" %>

<div class="row bump">
   <div class="small-12 large-6 columns">
      <div class="row">
         <div class="profile-card">
           <div class="small-12 large-4 columns">
                 <img src="<%= @user.profile_photo %>" alt="profile image">
           </div>
            <div class="small-12 large-8 columns">
               <h4><%= @user.first_name.titleize + " " +
                @user.last_name[0].upcase %></h4>
               <p><i class="fi-comment"></i><span><%= @user.reviews.size.to_s +
                 " Review".pluralize(@user.reviews.size) %></span></p>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="small-12 columns">
  <% @user.reviews.each do |review| %>
      <div class="row" id="<%= review.id %>">
        <div class="small-3 columns" align="center">
          <div class="user-image">
            <img src="<%= review.yelper.image_url %>" alt="profile image">
          </div>
        </div>
        <div class="small-6 columns">
          <p><%= review.body %></p>
          <div class = "votes">
            <% 1.upto(review.rating.to_i) do %>
              <i class="fi-star"></i>
            <% end %>
            <a href="#" data-review-id="<%= review.id %>" data-yelper-id= "<%= review.yelper.id %>" class="up-vote"><i class="fi-arrow-up"></i>
            <span class="upvote-count"> <%= review.upvotes.count %> </span></a>
            <a href="#" data-review-id="<%= review.id %>" data-yelper-id="<%= review.yelper.id %>" class="down-vote"><i class="fi-arrow-down"></i>
            <span class="downvote-count"> <%= review.downvotes.count %> </span></a>
          </div>
        </div>
        <div class="small-3 columns" align="right">
          <% if current_user %>
             <% if review.user == current_user || current_user.admin? %>
              <%= button_to "Edit Review",
                yelper_review_path(yelper_id: review.yelper.id, id: review.id),
                method: :get,
                class: "round button tiny" %>
              <%= button_to "Delete Review",
               yelper_review_path(review, id: review.id),
               method: :delete,
               class: "round button tiny" %>
              <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
 </div>


<%- if current_user.admin? %>
  <p>Unhappy? <%= button_to "Delete User",
    admin_user_path(@user),
    data: { confirm: "Are you sure?" }, method: :delete %></p>
<%- end %>
