<div class="large-12">

  <%= form_for [@yelper, @review] do |f| %>
    <%= f.label :Rating %>
    <%= number_field_tag :rating, in: 1...5 %>

    <%= f.text_field :body %>

    <%= f.submit "Submit Review" %>
  <% end %>
</div>
