<div class="large-12">

  <%= form_for [@yelper, @review] do |f| %>
    <%= f.label :rating %>
    <%= f.number_field :rating, in: Review::RATINGS %>

    <%= f.label :body %>
    <%= f.text_field :body %>

    <%= f.submit "Submit Review" %>
  <% end %>
</div>
