<div class="row">
    <div class="small-9 columns">
      <%= form_for [@yelper, @review] do |f| %>
        <%= f.label :rating %>
        <%= f.number_field :rating, in: Review::RATINGS %>

        <%= f.label :body %>
        <%= f.text_field :body %>

        <%= f.submit "Submit Review" %>
      <% end %>
  </div>
</div>
