<% content_for :title, "Yelper Helper" %>

<div class="row">
  <% @yelpers.each do |yelper| %>
  <div class="medium-6 large-4 columns">
    <article class="yelper-card">
      <%= link_to image_tag(yelper.image_url), yelper_path(yelper)%>
      <div class="card-content">
        <p class="yelper-name"><%= link_to truncate(yelper.name, length: 22), yelper_path(yelper) %></p>
        <p class="yelper-review-count"><%= yelper.reviews.count %> Reviews</p>
        <h4><%= yelper.location %></h4>
      </div>
    </article>
  </div>
 <% end %>

 <% if @yelpers.empty? %>
  <div data-alert class="alert-box info radius">
    There are no Yelpers by that name yet.
    <%= link_to "Would you like to add one?", new_yelper_path %>
  </div>
 <% end %>

</div>

<div class="row">
  <%= paginate @yelpers %>
</div>
