<div class="row">
  <div class="small-3 columns">
    <img src="<%= @yelper.image_url %>" alt="profile image">
    <a href="http://www.yelp.com/user_details?userid=<%= @yelper.uid %>"><h4><%= @yelper.name %></h4></a>
    <p><i class="fi-globe"></i><span><%= @yelper.location %></span></p>
      <p><i class="fi-page"></i>
        <a href="http://www.yelp.com/user_details?userid=<%= @yelper.uid %>"> Profile Page</a></p>

    <ul class="button-group even-2">
     <li><a href="#" class="button"> Reviews <span><%= @yelper.number_of_reviews %> </span></a></li>
     <li><a href="#" class="button">  Fans <span>432 </span></a></li>
    </ul>
      <% if current_user.admin? %>
        <ul class="button-group">
          <li><%= button_to "Delete Yelper", yelper_path(@yelper),
              data: { confirm: "Are you sure?" }, method: :delete,
              class: "button" %></li>
        </ul>
      <% end %>
  </div>

  <div class="small-9 columns">
    <%= render "form" %>
    <div class="row">
      <% @yelper.reviews.each do |review| %>
        <div class="row" id="<%= review.id %>">
          <div class="small-3 columns" align="center">
            <div class="user-image">
              <img src="<%= review.user.profile_photo %>" alt="profile image">
            </div>
            <h6><%= review.user.first_name.titleize + " " +
             review.user.last_name[0].upcase %></h6>
          </div>
          <div class="small-9 columns">
            <p><%= review.body %></p>
            <div class = "votes">
              <a href="#" data-review-id="<%= review.id %>" data-yelper-id= "<%= @yelper.id %>" class="up-vote"><i class="fi-arrow-up"></i>
              <span class="upvote-count"> <%= review.upvotes.count %> </span></a>
              <a href="#" data-review-id="<%= review.id %>" data-yelper-id="<%= @yelper.id %>" class="down-vote"><i class="fi-arrow-down"></i>
              <span class="downvote-count"> <%= review.downvotes.count %> </span></a>
              <%= review.rating %>
            </div>
             <% if review.user == current_user || current_user.admin? %>
                <%= button_to "Edit Review",
                  yelper_review_path(@yelper, id: review.id),
                  method: :get,
                  class: "round button tiny" %>
                 <%= button_to "Delete Review",
                 yelper_review_path(review, id: review.id),
                 method: :delete,
                 class: "round button tiny" %>
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
